
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: rgb(2, 2, 67);
    color:white;
    height: 5rem;
    line-height: 5rem;
    
}

.choice{
    height: 300px;
    width: 300px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: grey;
    
}

img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#computer-score{
    font-size: 4rem;

}

.msg-container{
        margin-top: 3rem;
}
#msg{
    background-color: rgb(2, 2, 61);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}